<p class="text-info" style="font-size: 100pt; text-align: center">SHIC</p>
<p class="text-dark" style="font-size: 35pt; text-align: center">Shopping &nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;Inventory&nbsp;&nbsp;&nbsp;Cash</p>
<p></p>
<hr>
<div style="text-align: center">
<button class="btn btn-info" *ngIf="authService.isLoggedIn() && authService.hasCurrentGroup()" routerLink="/storage" routerLinkActive="active">
  <div style="font-size: 20pt;text-align: center">Storage</div>
</button>
  <button class="btn btn-info" *ngIf="authService.isLoggedIn() && authService.hasCurrentGroup()" routerLink="/shopping-list" routerLinkActive="active">
    <div style="font-size: 20pt;text-align: center">Shoppinglist</div>
  </button>
<button class="btn btn-info" *ngIf="authService.isLoggedIn() && authService.hasCurrentGroup()" routerLink="/recipe" routerLinkActive="active">
  <div style="font-size: 20pt;text-align: center">Recipe</div>
</button>
<button class="btn btn-info" *ngIf="authService.isLoggedIn() && authService.hasCurrentGroup()" routerLink="/register" routerLinkActive="active">
  <div style="font-size: 20pt;text-align: center">Bills</div>
</button>
<button class="btn btn-info" *ngIf="authService.isLoggedIn() && authService.hasCurrentGroup()" routerLink="/statistic" routerLinkActive="active">
  <div style="font-size: 20pt;text-align: center">Statistic</div>
</button>
<button class="btn btn-info" *ngIf="authService.isLoggedIn()" routerLink="/user" routerLinkActive="active">
  <div style="font-size: 20pt;text-align: center">Profile</div>
</button>
</div>

