<div class="recipe-list">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{recipe.id}}</td>
      <td>{{recipe.name}}</td>
      <td>{{recipe.description}}</td>
      <td>
        <button type="button" [routerLink]="['/recipe/', recipe.id]">Details</button>
      </td>
      <td>
    </tr>
    </tbody>
  </table>
</div>
