<h1>Storage</h1>
<!--TABLE START-->



<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Quantity</th>
    <th>Notes</th>
    <th>ExpDate</th>
    <th>LocationTag</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let item of $any(items)">
    <td>{{item.name}}</td>
    <td>{{item.amount}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.notes}}</td>
    <td>{{item.expDate}}</td>
    <td>{{item.locationTag}}</td>
    <td><button>Edit</button></td>
    <td><button>Remove</button></td>
  </tr>
  </tbody>
</table>

<button [routerLink]="['/storage/add']">Add Item</button>

