<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<p>recipe-detail works!</p>

<div class="card-header">
  <strong>Details</strong>
</div>
<div class="card-body">
  <p class="card-text">Details of recipe: <strong>{{recipe.id}}</strong></p>
  <p class="card-text">Name: <strong>{{recipe.name}}</strong></p>
  <p class="card-text">Description: <strong>{{recipe.description}}</strong></p>
</div>
<button type="button" class="btn-secondary mr-1" (click)="planRecipe()">Plan Recipe</button>


