<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="card">

  <div class="card-header">
    <strong>Details</strong>
  </div>
  <div class="card-body">
    <p class="card-text">Details of recipe: <strong>{{recipe.id}}</strong></p>
    <p class="card-text"><strong>{{recipe.name}}</strong></p>
    <p class="card-text"><strong>Description:</strong> {{recipe.description}}</p>
    <p class="card-text"><strong>Ingredients:</strong> </p>
    <div class="col-xl-3 col-lg-4 p-2" *ngFor="let ingredient of recipe.ingredients">
      <p>{{ingredient.name}} {{ingredient.amount}} {{ingredient.quantity}} </p>
    </div>
    <p class="card-text"><strong>Categories:</strong> </p>
    <div class="col-xl-3 col-lg-4 p-2" *ngFor="let category of recipe.categories">
      <p class="card-text">{{category}}</p>
    </div>

  </div>
</div>
<br>
<button [routerLink]="['/recipe']">Back</button>

<button type="button" class="btn-secondary mr-1" (click)="planRecipe()">Plan Recipe</button>

<br>
<br>

<div *ngIf="items && items.length > 0">
  <div class="card">
    <div class="card-header">
      <strong>Added following Ingredients to Shopping List</strong>
    </div>
    <div class="col-xl-3 col-lg-4 p-2" *ngFor="let item of items">

      <div class="card-body">
        <p class="card-text"><strong>{{item.name}}</strong> {{item.amount}} {{item.quantity}} </p>
      </div>

    </div>
  </div>
</div>

<div *ngIf="items && items.length <= 0">
  <div class="card">
    <div class="card-header">
      <strong>nothing to add</strong>
    </div>
        <p class="card-text"> There is already enough of each Ingredient in your Storage! </p>
  </div>
</div>

