<br>


<div class="card">

  <div class="card-header">
    <strong>Details</strong>
  </div>
  <div class="card-body">
    <h2><strong>{{recipe.name}}</strong></h2>
    <p class="card-text"> for <input style="width: 55px" type="number" min="1" [(ngModel)]="numberOfPeople"/> people </p>
    <p class="card-text"><strong>Description:</strong> {{recipe.description}}</p>
    <p class="card-text"><strong>Ingredients:</strong> </p>
    <div class="col-xl-3 col-lg-4 p-2" *ngFor="let ingredient of recipe.ingredients">
      <p >{{ingredient.name}} {{ingredient.amount * numberOfPeople}} {{ingredient.quantity.name}}</p>

    </div>
    <p class="card-text"><strong>Categories:</strong> </p>
    <div class="col-xl-3 col-lg-4 p-2" *ngFor="let category of recipe.categories">
      <p class="card-text">{{category}}</p>
    </div>

  </div>
</div>
<br>
<button class = "btn btn-outline-info btn-sm mr-4" [routerLink]="['/recipe']">Back</button> &nbsp;

<button class = "btn btn-outline-info btn-sm mr-4" (click)="planRecipe()">Plan Recipe</button> &nbsp;

<button class = "btn btn-outline-info btn-sm mr-4"  (click)="putRecipeOnShoppingList()">Put all Ingredients to
  Shoppinglist</button> &nbsp;

<button class = "btn btn-outline-dark btn-sm mr-4"  (click)="cookRecipe()">Cook Recipe</button> &nbsp;

<button *ngIf="recipe.groupId !== null" class = "btn btn-outline-dark btn-sm mr-4"  (click)="setRecipeToUpdate(recipe); openAddModal(recipeAddModal)">Edit Recipe</button>
<div class="row p-2 mb-4">
  <ng-template #recipeAddModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Recipe</h5>
      <button type="button" class = "btn btn-outline-dark btn-sm mr-4" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="updateRecipeForm(recipeForm)" #recipeForm="ngForm">
        <div class="form-group">
          <label for="recipeToUpdateName">Name</label>
          <input rows="1" name="name" class="form-control" id="recipeToUpdateName" required
                    aria-describedby="nameHelp" placeholder="Enter Name"
                    [(ngModel)]="recipeToUpdate.name">
          <div *ngIf="submitted && recipeForm.controls.name.errors" class="error">
            <small class="form-text text-warning" *ngIf="recipeForm.controls.name.errors.required"> Name is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="recipeToUpdateDesc">Description</label>
          <textarea rows="1" name="description" class="form-control" id="recipeToUpdateDesc" required
                    aria-describedby="nameHelp" placeholder="Enter description"
                    [(ngModel)]="recipeToUpdate.description"></textarea>
          <div *ngIf="submitted && recipeForm.controls.name.errors" class="error">
            <small class="form-text text-warning" *ngIf="recipeForm.controls.name.errors.required"> Description is
              required!
            </small>
          </div>
        </div>
        <div *ngIf="recipeToUpdate.ingredients !== null">
          Current ingredients: <br>
          <div class="form-group" *ngIf="recipeToUpdate.ingredients !== null">
            <ul *ngFor="let item of this.recipeToUpdate.ingredients">
              <li>
                {{item.name}}&nbsp;{{item.amount}}&nbsp;{{item.quantity.name}}
                <button class = "btn btn-outline-danger btn-sm mr-4" (click)="removeItem(item)">Remove</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          Ingredients<br>
          <ng-select
            [items] = "this.allItems"
            bindLabel = "name"
            id="inputItems"
            name="inputItems"
            clearable = "true"
            placeholder = "Choose ingredients"
            [(ngModel)]="this.tempIngredient">
          </ng-select><br>
          <input *ngIf="tempIngredient!==undefined" [(ngModel)]="this.tempIngredient.amount"
                 placeholder="Enter amount in {{this.tempIngredient.quantity.name}}" name="inputItemQuantity">&nbsp;
          <button *ngIf="tempIngredient!==undefined && tempIngredient.amount > 0" (click)="addTempIngredient()"
                  class = "btn btn-outline-info btn-sm mr-4">Add item to recipe
          </button>&nbsp;
          <div *ngIf="error" class="error">
            <small class="form-text text-warning">Ingredients are required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="inputCategories">Categories</label>
          <ng-select
            id="inputCategories"
            name="inputCategories"
            required="true"
            placeholder = "Select categories"
            [multiple]="true"
            [(ngModel)]="this.recipeToUpdate.categories">
            <ng-option value="vegan">vegan</ng-option>
            <ng-option value="vegetarian">vegetarian</ng-option>
            <ng-option value="dinner">dinner</ng-option>
            <ng-option value="breakfast">breakfast</ng-option>
            <ng-option value="supper">supper</ng-option>
          </ng-select>
          <div *ngIf="submitted && recipeForm.controls.inputCategories.errors" class="error">
            <small class="form-text text-warning" *ngIf="recipeForm.controls.inputCategories.errors.required">At least one
              category is required!
            </small>
          </div>
        </div>



      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="updateRecipeForm(recipeForm); modal.dismiss()" id="add-msg" class = "btn btn-outline-info btn-sm mr-4">Save Changes
      </button>
      <button type="button" class = "btn btn-outline-dark btn-sm mr-4" id="close-modal-btn" (click)="modal.dismiss('close')">Close
      </button>
    </div>
  </ng-template>
</div>
<br>



<div *ngIf="deletedItems && deletedItems.length > 0">
  <div class="card">
      <div class="card-header">
        <strong>Removed following ingredients from Storage</strong>
      </div>
      <div class="col-xl-3 col-lg-4 p-2" *ngFor="let item of deletedItems">

        <div class="card-body" style="display: inline-block">
         <strong>{{item.name}}</strong> {{item.amount}} {{item.quantity.name}}
        </div>

      </div>
    </div>
</div>
<br>

<div *ngIf="items && items.length > 0">
  <div class="card">
    <div class="card-header">
      <strong>Added following ingredients to Shopping List</strong>
    </div>
    <div class="col-xl-3 col-lg-4 p-2" *ngFor="let item of items">

      <div class="card-body">
        <p class="card-text"><strong>{{item.name}}</strong> {{item.amount}} {{item.quantity.name}} </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="items && items.length <= 0">
  <div class="card">
    <div class="card-header">
      <strong>Nothing to add</strong>
    </div>
        <p class="card-text"> &nbsp; There is already enough of each ingredient in your Storage! </p>
  </div>
</div>
<br>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Error
    <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="vanishError()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
  <p>{{error}}</p>
</div>
<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <h4 class="alert-heading"> {{this.success}}
    <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="vanishSuccess()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
</div>
