<br>
<h1>Statistic</h1>
<hr>

<h4>Sum of bills per month</h4>

<table class='table'>
  <thead>
  <tr>
    <th>Month</th>
    <th>Group Sum</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bill of sumOfLastTwelveMonths;">
    <td >{{bill.date}}</td>
    <td>{{bill.sum}} €</td>
  </tr>

  </tbody>
</table>
<h4>Sum of bills per year</h4>
<table class='table'>
  <thead>
  <tr>
    <th>Year </th>
    <th>Group Sum </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bill of sumOfLastTenYears;">
    <td >{{bill.date}}</td>
    <td>{{bill.sum}} €</td>
  </tr>

  </tbody>

</table>
<br>
<br>
<br>
<br>
<h4>Articles thrown away most often</h4>
<div *ngIf="mostThrownAwayArticles[0]!==null">
  <table class='table'>
    <thead>
    <tr>
      <th>Article</th>
      <th>Number of times thrown away</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bill of mostThrownAwayArticles;">

      <td *ngIf="bill!==null">{{bill.name}}</td>
      <td *ngIf="bill!==null">{{bill.sum}} </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="mostThrownAwayArticles[0]===null">
  <span>you have not thrown away any articles!</span>
</div>
<br>

<h4>Articles thrown away per month</h4>
<div *ngIf="sumOfLastTwelveMonthsThrownAway.length!==0">
<table class='table'>
  <thead>
  <tr>
    <th>Month</th>
    <th>Number of articles you have thrown away</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bill of sumOfLastTwelveMonthsThrownAway;">
    <td >{{bill.date}}</td>
    <td>{{bill.sum}} </td>
  </tr>

  </tbody>
</table>
</div>
<div *ngIf="sumOfLastTwelveMonthsThrownAway.length===0">
  <span>you have not thrown away any articles in the last twelve months!</span>
</div>
<br>
<h4>Articles thrown away per year</h4>
<div *ngIf="sumOfLastTenYearsThrownAway.length!==0">
<table class='table'>
  <thead>
  <tr>
    <th>Year </th>
    <th>Number of articles you have thrown away</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bill of sumOfLastTenYearsThrownAway;">
    <td >{{bill.date}}</td>
    <td>{{bill.sum}} </td>
  </tr>
  </tbody>
</table>
</div>
<div *ngIf="sumOfLastTenYearsThrownAway.length===0">
  <span>you have not thrown away any articles in the last ten years!</span>
</div>
<br>


