
input { display: none; }

input + label {
  width: 6em;
  border: 1px solid #999;
  background: #EEE;
  padding: 4px 12px;
  border-radius: 8px 8px 0 0;
  position: relative;
  top: 1px;
  margin-top: 1em;
}
input:checked + label {
  background: #FFF;
  border-bottom: 1px solid transparent;
}
input ~ .tab {
  border-top: 1px solid #999;
  padding: 12px;
}


.tabs{
  background-color: #EEE;
}
