
<div class="tabs">

  <input type="radio"  name="tabs" id="tab1" checked />
  <label style="margin-left: 0.5em" for="tab1">Public</label>

  <input type="radio" name="tabs" id="tab2" />
  <label for="tab2" (click)="getShoppingList()">Private</label>

</div>
<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1>Shopping List</h1>
<!--
<form (ngSubmit)="addItemToShoppingList()">

  <div class="form-group">
    <label for="itemToAdd">Add item: </label>
    <select
      class="form-control"
      id="itemToAdd"
      name="itemToAdd"
      [(ngModel)]="this.itemToAdd">
      <option *ngFor="let myItem of itemsAdd;" [ngValue]="myItem">{{myItem.name}}</option>
      <option [ngValue]="null">none</option>
    </select>
  </div>
  <button type="submit">add</button>
</form>

-->

<button type="button" class="btn btn-secondary btn-sm mr-4" (click)="openAddModal(itemAddModal)">Add new Item</button>

<div class="row p-2 mb-4">
  <!--
  <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="openAddModal(itemAddModal)">Add</button>
-->

  <ng-template #itemAddModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Item</h5>
      <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addItemForm(itemForm)" #itemForm="ngForm">

        <div class="form-group">
          <label for="itemToAdd2">Add item: </label>
          <select
            class="form-control"
            id="itemToAdd2"
            name="itemToAdd2"
            [(ngModel)]="this.itemToAdd">
            <option *ngFor="let myItem of itemsAdd;" [ngValue]="myItem">{{myItem.name}}</option>
            <option [ngValue]="null">none</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputName">Name</label>
          <textarea rows="1" name="name" class="form-control" id="inputName" required
                    aria-describedby="nameHelp" placeholder="Enter Name" [(ngModel)]="itemToAdd.name"></textarea>
        </div>

        <div class="form-group">
          <label for="inputNotes">Notes</label>
          <textarea rows="3" name="notes" class="form-control" id="inputNotes"
                    aria-describedby="notesHelp" placeholder="Enter Notes" [(ngModel)]="itemToAdd.notes"></textarea>
        </div>

        <div class="form-group">
          <label for="inputAmount">Amount</label>
          <textarea rows="1" name="notes" class="form-control" id="inputAmount"
                    aria-describedby="notesHelp" placeholder="Enter Notes" [(ngModel)]="itemToAdd.amount"></textarea>
        </div>

        <button type="button" (click)="addItemForm(itemForm)" id="add-msg" class="btn btn-success float-right">Add item</button>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="close-modal-btn" (click)="modal.dismiss('close')">Close</button>
    </div>
  </ng-template>


</div>

<div *ngIf="items!== null">
  <div class="shopping-list-list">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

