button {
  background-color: #465;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

.tabbutton { display: none; }

.tabbutton + label {
  width: 6em;
  border: 1px solid #999;
  background: #EEE;
  padding: 4px 12px;
  border-radius: 8px 8px 0 0;
  position: relative;
  top: 1px;
  margin-top: 1em;
}
.tabbutton:checked + label {
  background: #FFF;
  border-bottom: 1px solid transparent;
}
.tabbutton ~ .tab {
  border-top: 1px solid #999;
  padding: 12px;
}

[type="checkbox"] {
  width: 17px;
  height: 17px;
}

.tabs{
  background-color: #EEE;
}



