
<div class="tabs">

  <input type="radio"  name="tabs" id="tab1" checked />
  <label style="margin-left: 0.5em" for="tab1">Public</label>

  <input type="radio" name="tabs" id="tab2" />
  <label for="tab2" (click)="getShoppingList()">Private</label>

</div>
<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1>Shopping List</h1>

<form (ngSubmit)="addItemToShoppingList()">

  <div class="form-group">
    <label for="itemToAdd">Add item: </label>
    <select
      class="form-control"
      id="itemToAdd"
      name="itemToAdd"
      [(ngModel)]="this.itemToAdd">
      <option *ngFor="let myItem of itemsAdd;" [ngValue]="myItem">{{myItem.name}}</option>
      <option [ngValue]="null">none</option>
    </select>
  </div>
  <button type="submit">add</button>
</form>

<select
  class="form-control"
  id="itemToAdd2"
  name="itemToAdd2"
  [(ngModel)]="this.itemToAdd">
  <option *ngFor="let myItem of itemsAdd;" [ngValue]="myItem">{{myItem.name}}</option>
  <option [ngValue]="null">none</option>
</select>
<button (click)="addItemToShoppingList()">add2</button>

<app-shopping-list-list></app-shopping-list-list>
