
<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1>Shopping List</h1>
<p></p>
<hr>
<div class="tabs">

  <input type="radio" class="tabbutton" name="tabs" id="tab1" checked/>
  <label for="tab1" class="tabLabel" style="margin-left: 0.5em" (click)="switchMode(true)">Public</label>


  <input type="radio" class="tabbutton" name="tabs" id="tab2"/>
  <label class="tabLabel" for="tab2" (click)="switchMode(false)">Private</label>

</div>
<br>

<button type="button" class="btn btn-secondary btn-sm mr-4" (click)="openAddModal(itemAddModal)">Add new Item</button>

<div class="row p-2 mb-4">

  <ng-template #itemAddModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Item</h5>
      <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addItemForm(itemForm)" #itemForm="ngForm">

        <div class="form-group">
          <label for="itemToAdd2">Add item: </label>
          <select
            class="form-control"
            id="itemToAdd2"
            name="itemToAdd2"
            [(ngModel)]="this.itemToAdd">
            <option *ngFor="let myItem of itemsAdd;" [ngValue]="myItem">{{myItem.name}}</option>
            <option [ngValue]="null">none</option>


          </select>
        </div>

        <div class="form-group">
          <label for="inputName">Name</label>
          <input rows="1" name="name" class="form-control" id="inputName" required
                 aria-describedby="nameHelp" placeholder="Enter Name" [(ngModel)]="itemToAdd.name">
          <div *ngIf="submitted && itemForm.controls.name.errors" class="error">
            <small class="form-text text-warning" *ngIf="itemForm.controls.name.errors.required">
              Name is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="inputNotes">Notes</label>
          <textarea rows="3" name="notes" class="form-control" id="inputNotes"
                    aria-describedby="notesHelp" placeholder="Enter Notes" [(ngModel)]="itemToAdd.notes"></textarea>
        </div>

        <div class="form-group">
          <label for="inputAmount">Amount</label>
          <input type="number" name="amount" class="form-control" id="inputAmount" min="1" required
                 aria-describedby="amountHelp" placeholder="Enter Amount" [(ngModel)]="itemToAdd.amount">
          <div *ngIf="submitted && itemForm.controls.amount.errors" class="error">
            <small class="form-text text-warning" *ngIf="itemForm.controls.amount.errors.required"> Amount is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="inputUnitOfQuantity">Unit of Quantity</label>
          <select
            class="form-control"
            id="inputUnitOfQuantity"
            name="inputUnitOfQuantity"
            required="true"
            [(ngModel)]="this.itemToAdd.quantity">
            <option *ngFor="let myItem of unitsOfQuantity;" [ngValue]="myItem">{{myItem.name}}</option>
          </select>
          <div *ngIf="submitted && itemForm.controls.inputUnitOfQuantity.errors" class="error">
            <small class="form-text text-warning" *ngIf="itemForm.controls.inputUnitOfQuantity.errors.required">Unit
              of Quantity is required!
            </small>
          </div>
        </div>



      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="addItemForm(itemForm)" id="add-msg" class="btn btn-success float-right">Add
        item
      </button>
      <button type="button" class="btn btn-secondary" id="close-modal-btn" (click)="modal.dismiss('close')">Close
      </button>
    </div>
  </ng-template>


</div>

<div *ngIf="items!== null">
  <div class="shopping-list-list">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Amount</th>
        <th>Quantity</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>
          <div class="form-check">
            <input type="checkbox" name="item" id="item" (click)="checkCheckbox(item)">
          </div>
        </td>
        <td>{{item.name}}</td>
        <td><input (change)="this.changeAmountOfItemInShoppingList(item)" [(ngModel)]="item.amount"/></td>
        <td>
          <div *ngIf="item.quantity !== null">{{item.quantity.name}}</div>
        </td>
        <td>{{item.notes}}</td>

        <td>
          <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="deleteItem(item)">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" id="buy-item" (click)="openBillModal(confirmationModal)" data-toggle="modal">Buy these Items</button>
</div>

<div>
  <ng-template #confirmationModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Your options</h5>
      <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="openBillModal(billAddModal)">Buy and make bill</button><p></p>
  <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="workOffShoppingList()">Only buy</button>
    </div>
  </ng-template>
</div>

<div class="row p-2 mb-4">
  <ng-template #billAddModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Bill</h5>
      <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addBillForm(billForm)" #billForm="ngForm">
        <div class="form-group">
          <label for="itemToAdd2">Add users to bill: </label>
          <ng-select id="favFood"
                     [(ngModel)]="this.billToAdd.names"
                     placeholder="Select names"
                     [clearable]="true"
                     [multiple]="true"
                     [ngModelOptions]="{standalone: true}">
            <ng-option [value]="nullUser">Everyone</ng-option>
            <ng-option [value]="user" *ngFor="let user of allUsers">
              {{user.username}}
            </ng-option>
          </ng-select>

        </div>

        <div class="form-group">
          <label for="price">Bill date:</label>
          <input name="price" class="form-control" id="price" required
                  placeholder="Enter price" [(ngModel)]="billToAdd.sum">
        </div>

        <div class="form-group">
          <label for="date">Bill date:</label>
          <input type="date" name="date" class="form-control" id="date" required
                 aria-describedby="expDateHelp" placeholder="Enter expDate" [(ngModel)]="billToAdd.date">
        </div>


        <div class="form-group">
          <label for="inputNotes">Notes</label>
          <textarea rows="3" name="notes" class="form-control" id="billNotes"
                    aria-describedby="notesHelp" placeholder="Enter Notes" [(ngModel)]="billToAdd.notes"></textarea>
        </div>
        <button type="button" (click)="addBillForm(billForm)" id="add-msg1" class="btn btn-success float-right">Add bill and buy</button>

      </form>
    </div>
  </ng-template>
</div>
