
<br>
<h1>Custom Location Tags</h1>
<p></p>

<button type="button" class="btn btn-outline-info btn-sm mr-4" (click)="openAddModal(locationTagAddModal)">Add New Location Tag</button>


<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let locationTag of $any(locationTags)">
    <td>{{locationTag.name}}</td>
    <td>
      <button *ngIf="this.locationTagDefaultCheck(locationTag)" type="button" class="btn btn-outline-info btn-sm mr-4" (click)="this.locationTagToDelete = locationTag; openDeleteModal(locationTagDeleteModal)">delete</button>
    </td>
  </tr>

  </tbody>
</table>

<div class="row p-2 mb-4">

  <ng-template #locationTagAddModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Add Location Tag</h5>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addLocationTagForm(locationTagForm)" #locationTagForm="ngForm">

        <div class="form-group">
          <label for="inputName2">Name</label>
          <textarea rows="1" name="name" class="form-control" id="inputName2" required
                    aria-describedby="nameHelp" placeholder="Enter Name" [(ngModel)]="locationTagToAdd.name"></textarea>
          <div *ngIf="submitted && locationTagForm.controls.name.errors" class="error">
            <small class="form-text text-warning" *ngIf="locationTagForm.controls.name.errors.required"> Name is
              required!
            </small>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="addLocationTagForm(locationTagForm)" (click)="modal.dismiss('close')" id="add-msg2" class="btn btn-outline-info float-right">Add Location Tag</button>

      <button type="button" class="btn btn-outline-info" id="close-modal-btn2" (click)="modal.dismiss('close')">Close</button>

    </div>
  </ng-template>
</div>


<ng-template #locationTagDeleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Alert</h5>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('X')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <p>Do you really want to delete this location tag: {{this.locationTagToDelete.name}}?</p>
      <button type="button" class="btn btn-outline-danger btn-sm mr-4" (click)="deleteLocationTagById(this.locationTagToDelete.id); modal.dismiss('X')">Delete location tag</button>
    </div>
  </div>
</ng-template>
