<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Registration problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{ successMessage }}</strong>
</div>



<div class="pt-5" >
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser()">

            <div class="form-group">
              <label for="inputUsername">Username</label>
              <input type="text" name="username" formControlName="username" class="form-control" id="inputUsername"
                     aria-describedby="usernameHelp" placeholder="Enter username">
              <div *ngIf="submitted && registerForm.controls.username.errors" class="error">
                <small class="form-text text-warning" *ngIf="registerForm.controls.username.errors.required">Your Email is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="inputUsername">Email</label>
              <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail"
                     aria-describedby="usernameHelp" placeholder="Enter email">
              <div *ngIf="submitted && registerForm.controls.username.errors" class="error">
                <small class="form-text text-warning" *ngIf="registerForm.controls.username.errors.required">Your username is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">

              <label for="password">Password</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="password"
                     placeholder="Password">
              <div *ngIf="submitted && registerForm.controls.password.errors" class="error">
                <small class="form-text text-warning" *ngIf="registerForm.controls.password.errors.required">Your password
                  is
                  required!
                </small>

                <small class="form-text text-warning" *ngIf="registerForm.controls.password.errors.minlength">Your password
                  must be at least 8 characters long!
                </small>
              </div>

              <label for="password1">Repeat Password</label>
              <input type="password" name="password1" formControlName="confirmPassword" class="form-control" id="password1"
                     placeholder="Password">


              <div *ngIf="submitted && registerForm.controls.confirmPassword.errors" class="error">
                <small class="form-text text-warning" *ngIf="registerForm.controls.confirmPassword.errors.mustMatch"> Passwords do not match
              </small>
              </div>
            </div>



            <br>
            <button type="button" (click)="registerUser()" class="btn btn-success float-right">Register</button>


          </form>
        </div>


      </div>


    </div>
  </div>
</div>

