
<ng-template #recipeDeleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Alert</h5>
    <button type="button" class="btn btn-outline-dark btn-sm mr-4" class="close" (click)="modal.dismiss('X')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <p>Do you really want to delete this recipe: {{deleteRecipe.name}} ?</p>
      <button type="button" class="btn btn-outline-danger btn-sm mr-4" (click)="delete(deleteRecipe); modal.dismiss('X')">Delete Recipe</button>
    </div>
  </div>
</ng-template>

<br>
<h1>Recipe</h1>
<p></p>
<hr>
<button type="button" class="btn btn-outline-info" (click)="openAddModal(recipeAddModal)">Add New Recipe</button>
<div class="row p-2 mb-4">
  <ng-template #recipeAddModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Recipe</h5>
      <button type="button" class="btn btn-outline-dark btn-sm mr-4" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addRecipeForm(recipeForm)" #recipeForm="ngForm">
        <div class="form-group">
          <label for="recipeToAddName">Name</label>
          <textarea rows="1" name="name" class="form-control" id="recipeToAddName" required
                    aria-describedby="nameHelp" placeholder="Enter Name" [(ngModel)]="recipeToAdd.name"></textarea>
          <div *ngIf="submitted && recipeForm.controls.name.errors" class="error">
            <small class="form-text text-warning" *ngIf="recipeForm.controls.name.errors.required"> Name is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="recipeToAddDesc">Description</label>
          <textarea rows="1" name="name" class="form-control" id="recipeToAddDesc" required
                    aria-describedby="nameHelp" placeholder="Enter description"
                    [(ngModel)]="recipeToAdd.description"></textarea>
          <div *ngIf="submitted && recipeForm.controls.name.errors" class="error">
            <small class="form-text text-warning" *ngIf="recipeForm.controls.name.errors.required"> Description is
              required!
            </small>
          </div>
        </div>
        <div *ngIf="recipeToAdd.ingredients !== null">
          Current ingredients: <br>
          <div class="form-group" *ngIf="recipeToAdd.ingredients !== null">
            <ul *ngFor="let item of this.recipeToAdd.ingredients">
              <li>
                {{item.name}}&nbsp;{{item.amount}}&nbsp;{{item.quantity.name}}
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          Ingredients<br>
          <ng-select
            [items] = "this.allItems"
            bindLabel = "name"
            id="inputItems"
            name="inputItems"
            clearable = "true"
            placeholder = "Choose ingredients"
            [(ngModel)]="this.tempIngredient">
          </ng-select><br>
          <input *ngIf="tempIngredient!==undefined" [(ngModel)]="this.tempIngredient.amount"
                 placeholder="Enter amount in {{this.tempIngredient.quantity.name}}" name="inputItemQuantity">&nbsp;
          <button *ngIf="tempIngredient!==undefined && tempIngredient.amount > 0" (click)="addTempIngredient()"
                  class="btn btn-outline-info">Add item to recipe
          </button>&nbsp;
          <div *ngIf="error" class="error">
            <small class="form-text text-warning">Ingredients are required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="inputCategories">Categories</label>
          <ng-select
            id="inputCategories"
            name="inputCategories"
            required="true"
            placeholder = "Select categories"
            [multiple]="true"
            [(ngModel)]="this.recipeToAdd.categories">
            <ng-option value="vegan">vegan</ng-option>
            <ng-option value="vegetarian">vegetarian</ng-option>
            <ng-option value="dinner">dinner</ng-option>
            <ng-option value="breakfast">breakfast</ng-option>
            <ng-option value="supper">supper</ng-option>
          </ng-select>
          <div *ngIf="submitted && recipeForm.controls.inputCategories.errors" class="error">
            <small class="form-text text-warning" *ngIf="recipeForm.controls.inputCategories.errors.required">At least one
              category is required!
            </small>
          </div>
        </div>



      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="addRecipeForm(recipeForm)" id="add-msg" class="btn btn-outline-info float-right">Add
        recipe
      </button>
      <button type="button" class="btn btn-outline-dark" id="close-modal-btn" (click)="modal.dismiss('close')">Close
      </button>
    </div>
  </ng-template>
</div>
<div class="recipe-list">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{recipe.id}}</td>
      <td>{{recipe.name}}</td>
      <td>{{recipe.description}}</td>
      <td>
        <button type="button" class = "btn btn-outline-dark btn-sm mr-4" [routerLink]="['/recipe/', recipe.id]">Details</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-sm mr-4" (click)="openDeleteModal(recipeDeleteModal); deleteRecipe=recipe">Delete</button>
      </td>
      <td>
    </tr>
    </tbody>
  </table>
</div>
