<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1 class="alert-heading">Register</h1>
<p></p>
<hr>

<th>Spending this month:</th>
<br>
{{monthlySum}}  €
<br>
<th>Budget:</th>
<br>
{{register.monthlyBudget}}  €
<button type="button" class="btn btn-secondary btn-sm mr-4" (click)="openEditBudgetModal(budgetEditModal)">Edit</button>
<br>
<th>Monthly difference:</th>
<br>
{{monthlyDifference}}  €
<br>

<br>

<th>Bills:</th>

<table class='table'>
  <thead>
  <tr>
    <th>Included: </th>
    <th>Not paid yet: </th>
    <th>Items bought: </th>
    <th>Sum of the purchase: </th>
    <th>To pay per person: </th>
    <th>Date: </th>
    <th>Notes:</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bill of billArray;">
    <td>{{bill.nameList}}</td>
    <td>{{bill.notPaidNameList}}</td>
    <td><div *ngFor="let grocery of bill.groceries">{{grocery.name}}</div></td>
    <td>{{bill.sum}} €</td>
    <td>{{bill.sumPerPerson}} €</td>
    <td>{{bill.date}}</td>
    <td>{{bill.notes}}</td>
    <td>
      <div>
        <button *ngIf="bill.notPaidNameList.includes(this.user.username)" type="button" style="BACKGROUND-COLOR:green;" class="btn btn-secondary" (click)="confirmPayment(bill.id);">Confirm Payment</button> &nbsp;
        <button type="button" class="btn btn-secondary" (click)="openBillModal(billEditModal, bill);">Edit Bill</button> &nbsp;
        <button type="button" style="BACKGROUND-COLOR:darkred;" class="btn btn-secondary" (click)="openAddModal(billDeleteModal); this.billToDelete=bill">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th>TOTAL:</th>
    <th></th>
    <th></th>
    <th>{{billSumGroup}} €</th>
    <th>{{billSumUser}} €</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </tfoot>
  {{this.help}}
</table>


<div class="row p-2 mb-4">
  <ng-template #budgetEditModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Budget</h5>
      <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="editBudgetForm(budgetForm)" #budgetForm="ngForm">

        <div class="form-group">
          <label for="inputAmount">New Monthly Budget:</label>
          <input type="number" name="amount" class="form-control" id="inputAmount" min="0" required
                 aria-describedby="amountHelp" placeholder="Enter Amount" [(ngModel)]="newMonthlyBudget">
          <div *ngIf="submitted && budgetForm.controls.amount.errors" class="error">
            <small class="form-text text-warning" *ngIf="budgetForm.controls.amount.errors.required"> Budget is
              required!
            </small>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="editBudgetForm(budgetForm)" id="add-msg" class="btn btn-success float-right">Edit Budget
      </button>
      <button type="button" class="btn btn-secondary" id="close-modal-btn" (click)="modal.dismiss('close')">Close
      </button>
    </div>
  </ng-template>
</div>

<div class="row p-2 mb-4">
  <ng-template #billEditModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Bill</h5>
      <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="editBill(billForm)" #billForm="ngForm">


        <div class="form-group">
          <label for="price">Bill sum (in Euros):</label>
          <input name="price" class="form-control" id="price" required
                 placeholder="Enter price" [(ngModel)]="billToEdit.sum">
        </div>

        <div class="form-group">
          <label for="date">Bill date:</label>
          <input type="date" name="date" class="form-control" id="date" required
                 aria-describedby="expDateHelp" placeholder="Enter expDate" [(ngModel)]="billToEdit.date">
        </div>


        <div class="form-group">
          <label for="billNotes">Notes</label>
          <textarea rows="3" name="notes" class="form-control" id="billNotes"
                    aria-describedby="notesHelp" placeholder="Enter Notes" [(ngModel)]="billToEdit.notes"></textarea>
        </div>
        <button type="button" (click)="editBill(billForm)" id="add-msg1" class="btn btn-success float-right">Edit bill</button>

      </form>
    </div>
  </ng-template>
</div>


<ng-template #billDeleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Alert</h5>
    <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <p>Do you really want to delete this bill?</p>
      <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="deleteBillById(); modal.dismiss('X')">delete bill</button>
    </div>
  </div>
</ng-template>

{{this.billToEdit | json}}
