<br>
<h1 class="alert-heading">Register</h1>
<p></p>
<hr>

<th>Spending this month:</th>
<br>
{{monthlySum}}  €
<br>
<th>Budget:</th>
<br>
{{register.monthlyBudget}}  €
<br>
<br>

<th>Bills:</th>

<table class='table'>
  <thead>
  <tr>
    <th>Included: </th>
    <th>Not paid yet: </th>
    <th>Sum of the purchase: </th>
    <th>To pay per person: </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bill of billArray;">
    <td>{{bill.nameList}}</td>
    <td>{{bill.notPaidNameList}}</td>
    <td><div *ngFor="let grocery of bill.groceries">{{grocery.name}}</div></td>
    <td>{{bill.sum}} €</td>
    <td>{{bill.sumPerPerson}} €</td>
    <td>
      <div>
        <button type="button" style="BACKGROUND-COLOR:green;" class="btn btn-secondary" (click)="confirmPayment(bill.id);">Confirm Payment</button>
      </div>
    </td>
  </tr>
  {{this.help}}
  </tbody>
</table>
