<br>
<h1 class="alert-heading">Bills</h1>
<p></p>
<hr>

<table class="table tab-content" style="width:50%">
  <tbody>
  <tr>
    <td><strong>Spending this month:</strong></td>
    <td>{{monthlySum}}  €</td>
  </tr>

  <tr>
    <td><strong>Group Budget:</strong></td>
    <td>{{register.monthlyBudget}}  €
      &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-dark btn-sm mr-4" (click)="openEditBudgetModal(budgetEditModal)">Edit
      </button>
    </td>
  </tr>

  <tr>
    <td><strong>Rest Group Budget for this month:</strong></td>
    <td *ngIf="monthlyDifference !== undefined || monthlyDifference !== null">{{monthlyDifference}}  €</td>
  </tr>
  </tbody>
</table>

<br>
<br>



<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Date:</th>
    <th>Included:</th>
    <th>Yet to pay:</th>
    <th>Sum:</th>
    <th>Sum per person:</th>
    <th>Items:</th>
    <th>Notes:</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bill of billArray;">
    <td>{{bill.date}}</td>
    <td>{{bill.nameList}}</td>
    <td>{{bill.notPaidNameList}}</td>
    <td>{{bill.sum}} €</td>
    <td>{{bill.sumPerPerson}} €</td>
    <td>
      <div *ngFor="let grocery of bill.groceries">{{grocery.name}}</div>
    </td>
    <td>{{bill.notes}}</td>
    <td>
      <div>
        <button *ngIf="bill.notPaidNameList.includes(this.user.username)" type="button"
                class="btn btn-outline-info btn-sm mr-4" (click)="confirmPayment(bill.id);">Confirm Payment
        </button> &nbsp;
        <div style="float: right;">
          <button type="button" class="btn btn-outline-dark btn-sm mr-4" (click)="openBillModal(billEditModal, bill);">
            Edit Bill
          </button> &nbsp;
          <button type="button" class="btn btn-outline-danger btn-sm mr-4"
                  (click)="openAddModal(billDeleteModal); this.billToDelete=bill">Delete
          </button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th>TOTAL:</th>
    <th></th>
    <th></th>
    <th>{{billSumGroup}} €</th>
    <th>{{billSumUser}} € (for you to pay)</th>
    <th></th>

    <th></th>
    <th>
      <button class=" btn btn-outline-info btn-sm mr-4" (click)="payAll()">Pay all bills</button>
    </th>
  </tr>
  </tfoot>
  {{this.help}}
</table>


<div class="row p-2 mb-4">
  <ng-template #budgetEditModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Budget</h5>
      <button type="button" class="btn btn-outline-dark btn-sm mr-4" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="editBudgetForm(budgetForm)" #budgetForm="ngForm">

        <div class="form-group">
          <label for="inputAmount">New Monthly Budget:</label>
          <input type="number" name="amount" class="form-control" id="inputAmount" min="0" required
                 aria-describedby="amountHelp" placeholder="Enter Amount" [(ngModel)]="newMonthlyBudget">
          <div *ngIf="submitted && budgetForm.controls.amount.errors" class="error">
            <small class="form-text text-warning" *ngIf="budgetForm.controls.amount.errors.required"> Budget is
              required!
            </small>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="editBudgetForm(budgetForm)" id="add-msg" class="btn btn-outline-info">Save Changes
      </button>
      <button type="button" class="btn btn-outline-dark" id="close-modal-btn" (click)="modal.dismiss('close')">Close
      </button>
    </div>
  </ng-template>
</div>

<div class="row p-2 mb-4">
  <ng-template #billEditModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Bill</h5>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="editBill(billForm)" #billForm="ngForm">


        <div class="form-group">
          <label for="price">Bill sum (€):</label>
          <input name="price" class="form-control" id="price" required
                 placeholder="Enter price" [(ngModel)]="billToEdit.sum">
        </div>

        <div class="form-group">
          <label for="date">Bill date:</label>
          <input type="date" name="date" class="form-control" id="date" required
                 aria-describedby="expDateHelp" placeholder="Enter expDate" [(ngModel)]="billToEdit.date">
        </div>


        <div class="form-group">
          <label for="billNotes">Notes</label>
          <textarea rows="3" name="notes" class="form-control" id="billNotes"
                    aria-describedby="notesHelp" placeholder="Enter Notes" [(ngModel)]="billToEdit.notes"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="editBill(billForm)" id="add-msg1" class="btn btn-outline-info float-right">Save
            Changes
          </button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('X')" aria-label="Close">Close
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>


<ng-template #billDeleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Alert</h5>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('X')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <p>Do you really want to delete this bill?</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="deleteBillById(); modal.dismiss('X')">Delete
          Bill
        </button>
      </div>
    </div>
  </div>
</ng-template>

