<p></p>
<h1>User</h1>
<p></p>
<div>
  User-picture: <p></p>
  Username: {{this.user.username}}<p></p>
  E-Mail of user: {{this.user.email}}
</div>
<div align="right">
  <button type="button" class="btn btn-secondary btn-sm mr-4">Edit user</button>
  <p></p>
  <button type="button" class="btn btn-secondary btn-sm mr-4">delete profile</button>
  <p></p>
  <button routerLink="/custom-item">Custom Items</button>
  <p></p>
  <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="authService.logoutUser()" routerLink="/">Logout</button>
</div>


<div align="left">
  <button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="groupId===null || groupId === undefined" (click)="generateGroup()"
          data-dismiss="alert" aria-label="Close">Generate new Group
  </button>
  <p></p>
  Add a new user to your group {{groupId.valueOf()}}: <p></p>
  <input *ngIf="groupId!==null && groupId !== undefined" [(ngModel)]="userToAdd" placeholder="enter username &nbsp;">
  <button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="groupId!==null && groupId !== undefined" (click)="addUser()">add user</button>

</div>
<p></p>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Users currently in this group</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of $any(users)">
    <td>{{user.username}}</td>
  </tr>
  </tbody>
</table>


<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Error adding user
    <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="vanishError()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
  <p>{{error}}</p>
</div>
<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <h4 class="alert-heading"> Success!
    <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="vanishSuccess()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
</div>
