

<p></p>
<hr>

<p></p>
<div class="parent">
  <div style="width: 50%">

    <div class="basicAttribute big" *ngIf="!userEditMode"> {{this.user.username}}  </div>
    <input class="basicAttributeEdit big" *ngIf="userEditMode" [(ngModel)]="editedUser.username" value="{{this.user.username}}">
    <button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="!userEditMode" (click)="userEditMode = true">Edit username</button>
    <button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="userEditMode" (click)="editUsername()">Accept</button><p></p>

    <div class="basicAttribute" *ngIf="!emailEditMode"> <strong>E-Mail: &nbsp;</strong> {{this.user.email}} </div>
    <input class="basicAttributeEdit" *ngIf="emailEditMode" [(ngModel)]="editedUser.email" value="{{this.user.email}}">
    <button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="!emailEditMode" (click)="emailEditMode = true">Edit email</button>
    <button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="emailEditMode" (click)="changeEmail()">Accept</button><p></p>

    <br><br><br><br><br><br><br>
    <button type="button" class="btn btn-secondary btn-sm mr-4 button" (click)="openAddModal(userDeleteModal)">delete profile</button>
    <br>
    <button type="button" class="btn btn-secondary btn-sm mr-4 button" routerLink="/custom-item">Custom Items</button>
  </div>

  <div class="profilePictureContainer">
    <label style="width: 100%; height: 100%" for="file-input">
      <img *ngIf="user.image" class="profilePicture" src="{{'data:image/jpg;base64,'+user.image}}">
      <div class="overlay">
        <div class="text">Edit</div>
      </div>
    </label>
    <input (change)="onFileChange($event)"  id="file-input" type="file"  accept="image/png, image/jpeg" />
  </div>
</div>

<ng-template #userDeleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Alert</h5>
    <button type="button" class="close" (click)="modal.dismiss('X')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <p>Do you really want to delete your profile?</p>
      <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="deleteUserById(); modal.dismiss('X')" routerLink="/">delete profile</button>
    </div>
  </div>
</ng-template>


<div align="left">
  <br>
  <label *ngIf="groupId===null || groupId === undefined" for="name">Group-Name: </label> &nbsp;
  <input *ngIf="groupId===null || groupId === undefined" id="name" [(ngModel)]="newGroupName" placeholder="group name">&nbsp;
  <p></p><button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="groupId===null || groupId === undefined" (click)="generateGroup()"
          data-dismiss="alert" aria-label="Close">Generate new Group
  </button>
  <p></p>

  <div *ngIf="groupId !== null">
  Add a new user to your group {{groupId.valueOf()}}: <p></p>

  <div>

  <input *ngIf="groupId!==null && groupId !== undefined" [(ngModel)]="userToAdd" placeholder="enter username">&nbsp;
  <button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="groupId!==null && groupId !== undefined" (click)="addUser()">add user</button>
  </div>
</div>
<p></p>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>

    <th *ngIf="this.currGroup">Users currently in group {{this.currGroup.name}}<th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of $any(users)">
    <td style="width: auto">{{user.username}}</td>
    <td style="width: 4em"*ngIf="user.image"> <div  class="smallProfilePictureContainer"> <img *ngIf="user.image" class="smallProfilePicture" src="{{'data:image/jpg;base64,'+user.image}}"> </div> </td>
  </tr>
  </tbody>
</table>


<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Error adding user
    <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="vanishError()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
  <p>{{error}}</p>
</div>
<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <h4 class="alert-heading"> {{this.success}}
    <button type="button" class="btn btn-secondary btn-sm mr-4" (click)="vanishSuccess()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
</div>
</div>
