<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="btn btn-outline-info" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<br>
<h1>Custom Items</h1> <button type="button" class="btn btn-outline-info btn-sm mr-4" (click)="openAddModal(itemAddModal)">Add new item</button>
<p></p>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let item of $any(items)">
    <td>{{item.name}}</td>
    <td>
      <div *ngIf="item.quantity !== null">{{item.quantity.name}}</div></td>
    <td>
      <button type="button" class="btn btn-outline-info btn-sm mr-4" (click)="openEditModal(itemEditModal, item)">Edit</button>
    </td>
  </tr>
  </tbody>
</table>


<!-- EDIT ITEM -->
<div class="row p-2 mb-4">

  <ng-template #itemEditModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Edit Item</h5>
      <button type="button" class="btn btn-outline-info" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="editItemForm(itemForm)" #itemForm="ngForm">

        <!--
        <div class="form-group">
          <label for="itemToAdd">Add item: </label>
          <select
            class="form-control"
            id="itemToAdd"
            name="itemToAdd"
            [(ngModel)]="this.itemToEdit">
            <option *ngFor="let myItem of itemToEdit;" [ngValue]="myItem">{{myItem.name}}</option>
            <option [ngValue]="null">none</option>
          </select>
        </div>
        -->

        <div class="form-group">
          <label for="inputName">Name</label>
          <textarea rows="1" name="name" class="form-control" id="inputName" required
                    aria-describedby="nameHelp" placeholder="Enter Name" [(ngModel)]="itemToEdit.name"></textarea>
          <div *ngIf="submitted && itemForm.controls.name.errors" class="error">
            <small class="form-text text-warning" *ngIf="itemForm.controls.name.errors.required"> Name is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="inputUnitOfQuantity">Unit of Quantity</label>
          <select
            class="form-control"
            id="inputUnitOfQuantity"
            name="inputUnitOfQuantity"
            required="true"
            [(ngModel)]="this.itemToEdit.quantity">
            <option *ngFor="let myItem of unitsOfQuantity;" [ngValue]="myItem">{{myItem.name}}</option>
          </select>
          <div *ngIf="submitted && itemForm.controls.inputUnitOfQuantity.errors" class="error">
            <small class="form-text text-warning" *ngIf="itemForm.controls.inputUnitOfQuantity.errors.required">Unit
              of Quantity is required!
            </small>
          </div>
        </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="editItemForm(itemForm)" (click)="modal.dismiss('close')" id="add-msg" class="btn btn-outline-info float-right">Save Changes</button>

      <button type="button" class="btn btn-outline-info" id="close-modal-btn" (click)="modal.dismiss('close')">Close</button>
    </div>
  </ng-template>
</div>

<!-- ADD ITEM -->
<div class="row p-2 mb-4">

  <ng-template #itemAddModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Add Item</h5>
      <button type="button" class="btn btn-outline-info" (click)="modal.dismiss('X')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addItemForm(itemForm)" #itemForm="ngForm">


        <div class="form-group">
          <label for="inputName2">Name</label>
          <textarea rows="1" name="name" class="form-control" id="inputName2" required
                    aria-describedby="nameHelp" placeholder="Enter Name" [(ngModel)]="itemToAdd.name"></textarea>
          <div *ngIf="submitted && itemForm.controls.name.errors" class="error">
            <small class="form-text text-warning" *ngIf="itemForm.controls.name.errors.required"> Name is
              required!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="inputUnitOfQuantity2">Unit of Quantity</label>
          <select
            class="form-control"
            id="inputUnitOfQuantity2"
            name="inputUnitOfQuantity2"
            required="true"
            [(ngModel)]="this.itemToAdd.quantity">
            <option *ngFor="let myItem of unitsOfQuantity;" [ngValue]="myItem">{{myItem.name}}</option>
          </select>
          <div *ngIf="submitted && itemForm.controls.inputUnitOfQuantity.errors" class="error">
            <small class="form-text text-warning" *ngIf="itemForm.controls.inputUnitOfQuantity.errors.required">Unit
              of Quantity is required!
            </small>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="addItemForm(itemForm)" (click)="modal.dismiss('close')" id="add-msg2" class="btn btn-outline-info float-right">Add Item</button>
      <button type="button" class="btn btn-outline-info" id="close-modal-btn2" (click)="modal.dismiss('close')">Close</button>
    </div>
  </ng-template>
</div>
<h1>Units Of Quantity</h1>
<div>
  <input #name (keyup)="name.value = this.helpUnityOfQuantity" [(ngModel)]="helpUnityOfQuantity" placeholder="UnityOfQuantity name"> &nbsp;
  <button type="button" class="btn btn-outline-info" (click)="this.addUnityOfQuantity()">Add Unity of Quantity</button>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let item of unitsOfQuantity">
    <td>{{item.name}}</td>
  </tr>
  </tbody>
</table>
<span></span>


